#logo {
    margin-top: 22px; margin-left: 20px;
}

div{
    display: flex;
}

button{
    width: 100px;
    height: 50px;
    background: #CBDDA8;
    border-radius: 12px;
    padding: 0;
    border: none;
    margin-top: 20px;
    margin-left: 1650px;
}
