body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: helvetica;
  font-weight: 100;
}

#logo{
  margin-left: 60px;
  margin-top: 20px;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  left: 0;
  -webkit-transition: left 0.4s ease-in-out;
  -moz-transition: left 0.4s ease-in-out;
  -ms-transition: left 0.4s ease-in-out;
  -o-transition: left 0.4s ease-in-out;
  transition: left 0.4s ease-in-out;
}

.container.open-sidebar { left: 240px; }

.swipe-area {
  position: absolute;
  width: 50px;
  left: 0;
  top: 0;
  height: 2800px;
  background: #f3f3f3;
  z-index: 0;
}

#sidebar {
  background: #DDDDDD;
  position: absolute;
  width: 240px;
  height: 2800px;
  left: -240px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#sidebar ul li { margin: 0; }

#sidebar ul li a {
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 100;
  color: white;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #DDDDDD;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

#sidebar ul li:hover a { background: #FFB900; }

.main-content {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
}

.main-content, .content, .grapeWeather{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* padding-left: 60px; */
  width: 100%;
}

.main-content .content h1 { font-weight: 100; }

.main-content .content p {
  width: 100%;
  line-height: 160%;
}

.main-content #sidebar-toggle {
  background: #DDDDDD;
  border-radius: 3px;
  display: block;
  position: relative;
  padding: 10px 7px;
  float: left;
}

.main-content #sidebar-toggle .bar {
  display: block;
  width: 18px;
  margin-bottom: 3px;
  height: 2px;
  background-color: #fff;
  border-radius: 1px;
}

.main-content #sidebar-toggle .bar:last-child { 
  margin-bottom: 0; 
}

.title{
  font-weight: bold; 
  font-size: 40px;
}

#weather{
  height: 200px;
  margin-left: 100px;
}

.mapping{
  margin-right: 10px;
}

.temper{
  font-weight: bold;
  font-size: 80px;
}

.content{
  display: inline-flex;
  text-align: center;
}

.first{
  display: block;
  margin-left: 25%;
}

.tempInfo{
  display: flex;
  text-align: left;
  margin: 20px 0px 0px 10px;
}

.feelinfTemp{
  font-size: 20px;
  margin: 10px 0px 0px 10px;
}

.compareTemp{
  font-size: 25px;
}

.temp1{
  margin-left: 50px;
}

.detail{
  display: flex;
  margin-top: 20px;
}

.detailTemp{
  margin: 0 10px;
}

.grapeWeather{
  text-align: center;
  margin: 100px 0px;
}

#grape{
  margin: 50px 0px 50px 0px;
  width: 900px;
}

#colorPink{
  color: #FF8080;
}

.chat{
  text-align: right;
  position: absolute;
  margin-left: 400px;
}

#grape1{
  /* margin: 50px 0px 50px 30px; */
  width: 400px;
  position: absolute;
  top: 0;
  margin-top: 50px;
}

.grape2{
  position: relative;
  margin-left: 400px;
  margin-top: 300px;
}

#graptext{
  margin: 80px 0px 0px 0px;
}

#graptext > div{
  width: 360px;
  padding: 20px 30px;
  border-bottom: solid 1px #949494;
}

.temp12{
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
}

.temp12>img{
  width: 500px;
}

#last{
  width: 1000px;
  margin-left: 20%;
}

#shelter{
  text-align: left;
  margin-left: 80px;
}